/*   This nav.css controls the css for the top navigation bar.   */

#siteNavigation {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    min-width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

    background-color: #000000;
}


#siteNavigation a:link {
    text-decoration: none;
    color: #FFFFFF;
}

#siteNavigation a:visited {
	text-decoration: none;
	color: #CCCCCC;
}

#siteNavigation a:hover {
	text-decoration: underline;
	color: #FF0000;
    
}

#siteNavigation a:active {
	text-decoration: none;
	color: #FFFFFF;
}

.navLink {
    /* flex: 1 0 200px; */
    flex: 1 0 100px;
}

/* .navLink:hover {
    background-color: #CCCCCC;
} */

.navLink a {
    
    text-align: center;
    
}



.navBig {
    display: contents;
    font-size: xx-large;
}

.navSmall {
    display: block;
    font-size: small;
}


/* Responsive layout - single column */
@media only screen and (max-width: 1000px) {
    #siteNavigation {
        flex-direction: column;
    }

    .navBig {
        display: contents;
    }
    
    .navSmall {
        display:contents;
    }
    
    .navLink {
        flex:unset;
    }
   
}