body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* font-size: 14px; */
    margin: 0;
}

p {

    margin: .75em;
}

h1,
h3 {
    color: #000000;
}

a:link {
    color: #0066ff;
    text-decoration: none;
    ;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0066ff;
}

img{
    margin: 15px;
}

#contents {
    margin: auto;
    max-width: 80%;

    color: #666666;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}


#sidePic {
    /* min-width: 150px; */
    margin: 20px;
}

#textContents {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.smaller {
    font-size: smaller;
}
.emphasis {
    color: #000000;
    font-weight: bold;
    font-style: italic;
}

.subtitle {
    margin-top: -1em;
    text-indent: 1em;
    font-size: medium;
    font-style: italic;
}

.alignCenter {
    text-align: center;
}
.large {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

.border {
    border:solid;
    
}
.red {
    color: #ff0000;
}

.styleBlue {
    color: #0000FF
}

.justify {
    text-align: justify;
}

.lgTopMargin {
    margin-top: 15px;
}

/* adds a new row to css flexbox */
.break {
    flex-basis: 100%;
    height: 0;
}


/* --------------- CSS Flexbox Table --------------- */
.table {
    display: flex;
    flex-direction: column;
    /* flex-flow: wrap; */
    border: solid;

}

.row {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.date {
    flex: 0 0 150px;
    padding: 5px;
    font-weight: bolder;
    color: #ff0000;
}

.assignment {
    flex: 0 0 300px;
    margin-left: 15px;
}

.instructions {
    padding: 5px;
    margin-left: 15px;
    font-size: 12px;
}
.bgGray {
    background-color: #ccc;
}
/* --------------- CSS Flexbox Table --------------- */





@media (max-width: 1000px) {
    /* Putting @media at end to override anything else */
    #contents {
        flex-direction: column;
        max-width: 90%;
    }
    #sidePic {
        order:10;
    }


    /* the .date, .assignment, .instructions clear the flex settings in the "past work" area so that it can be converted to a column nicely. */
    .date {
        flex: unset;
    }
    
    .assignment {
        flex: unset;
    }
    
    .instructions {
        flex: unset;
    }
    .row {
        flex-direction: column;
        padding: 15px;
    }
    .table {
        border: none;
    }
    .table .bgGray {
        background-color: inherit;
    }

}