
/* ------------- Table CSS ------------ */

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 1500px;
    min-width: 600px;
    margin: auto;
    padding: 5px;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 10px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}



.largeTitle {

    text-align: left;
    vertical-align: bottom;
    color: #000000;
    background-color: #000000;
}

.modelHeader {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;

}

.bgWhite {
    background-color: #FFFFFF;
}

.bgGray {
    background-color: #ccc;
}


