body {
    max-width: 80%;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}
img {
    max-width: 75%;
    margin: auto;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 2em;
    line-height: 2em;
}
h2 {
    font-weight: 500;
    margin: 30px;
}

.button {
    font-size: 20px;
    color: #fff;
    background-color: #04AA6D;
    outline: none;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 3px 3px #999;
}
.button:hover {
    background-color: darkgreen;
}

.button:active {
    box-shadow: 5px 5px #666;
    transform: translateY(4px);
}

.indent {
    text-indent: 30px;
}

.style6 {
    font-size: 24px;
    
}

.style7 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.input_text {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    font-weight: bold;
    box-Shadow: 0px 0px 7px red;
    background-color: red;


/*     
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-image: url('Images/exclamation.svg'); */
    
    padding: 5px 5px 5px 5px;
    
}

.result {
    border-top: 1px solid;
    border-width: 1px;
    float: left;
    margin-top: 5%;
}

.report {
    margin-bottom: 100px;
}

.report-subtitle {
	font-size: 24px;
}

.report-title {
	margin-top: 0px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.report-author {
    font-size: 18px;
}

.report-body {
    text-align: justify;
    text-indent: 30px;
	
}
.star {
    color: red;
    display: none;
}

.fair-use {
    text-align: center;
    font-size: 12px
}

.justify {
	text-align: justify;
}

.bold {
    font-weight: bold;
    
}
.margin-0 {
    margin: 0;
}


::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: white;
    /* color: black; */
}
