/* ------------- Table CSS ------------ */

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 1500px;
    min-width: 600px;
    margin: auto;
    padding:5px;
    
}

td {
    text-align: center;
    padding: 10px;
}

.alignRight {
    text-align: right;
}

.largeTitle {
    
    font-size: 36px;
    vertical-align: bottom;
    color: #FFFFFF;
    background-color: #000066;
}

.headerWhite{
    background-color: #FFFFFF;
    color: #000066;
    font-weight: bold;
}
.headerBlue{
    background-color: #000066;
    color: #FFFFFF;
    font-weight: bold;
}
.HeaderGray{
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
}

.cellWhite{
    background-color: #FFFFFF;
    color: black;
}

.cellGray{
    background-color: #ccc ;
    color: black;
}
.red{
    color: red;
}
.small{
    font-size: 12px;
}
/* --------------------------------- */